<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">


	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>UserManagementServlet</servlet-name>
		<servlet-class>web.UserManagementServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UserManagementServlet</servlet-name>
		<url-pattern>/userManagement</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>web.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>web.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>HomeServlet</servlet-name>
	    <servlet-class>web.HomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>HomeServlet</servlet-name>
	    <url-pattern>/home</url-pattern>
	</servlet-mapping>

</web-app>